{{>header title="About"}}
<body class="w-75 m-auto text-center">
    {{>navigation}}
    <h1>About</h1 class="text-center">
    <p>Learn About the Makers</p>
    {{>footer name='Drake'}}
</body>
</html>