{{>header title='Home'}}
<body class="w-75 m-auto text-center">
    {{>navigation}}
    <h1>The Weather</h1>
    <p>Welcome to WeatherTech</p>
    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>
    <br/>
    <div id="location"></div>
    <div id="forecast"></div>
    <br/>
    {{>footer name='Drake'}}
    <script src='scripts/script.js'></script>
</body>
</html>