<div class="py-2 w-100 d-flex justify-content-center">
    <nav class="w-50 d-flex justify-content-around text-center">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </nav>
</div>